code {
    font-family:monospace,monospace;
    font-size:1em
  }

body {
	width:300px;
	margin:0 auto;
	font-family: helvetica, sans-serif;
	font-size: 1vw;
	text-align: left;
}

h1 {
	font-family: helvetica, sans-serif;
	width: 100%;
	font-size: 3vw;
	color: white;
	clear: left;
	text-align: center;
}

h2 {
	font-family: helvetica, sans-serif;
	width: 100%;
	font-size: 2vw;
	color: white;
	clear: left;
	text-align: center;
}
	
input[type=submit] {
	border-radius: 8px;
	border: 0;
	color: white;
	width: 15%;
	margin: auto;
	padding: 5px;
	font-size: 1.5vw;
	font-family: helvetica, sans-serif;
	background: #eb0029;
}
	
input[type=text] {
	padding:8px;
	margin: auto;
	display:block;
	border:1px solid #ccc;
	width:60%
	font-size: 1.5vw;
	font-family: helvetica, sans-serif;
}	
